@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 460px;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  position: relative;
  width: 150px;
  height: 150px;
}

span {
  position: absolute;
  top: 5px;
  color: #bcbcbc;
}

h1 {
  text-align: center;
}

#numberOfXWins, #numberOfOWins {
  height:30px ;
}

td > p {
  text-align: center;
  font-size: 2.9em;
}
